:root {
    --pri_color: #26de81;
    --nav_color: #1d1d1d;
    --head_font: 'Poppins', sans-serif;
    --dsec_font: 'Roboto Slab', serif;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}
/* Nabar Start */

header {
    background: var(--nav_color);
    height: 5rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0px;
    z-index: 100;
    /* box-shadow: 0px 3px 5px 1px grey; */
}

nav {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
}

.nav-logo {
    background-color: var(--pri_color);
    background-image: linear-gradient(to top, #fff 0%, var(--pri_color) 100%);
    background-size: 100;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-logo a {
    font-family: var(--head_font);
    font-weight: 500;
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center;
}

.nav-div {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    position: absolute;
    right: 3rem;
}

.nav-item {
    height: 5rem;
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    padding: 0.5rem;
    color: #fff;
    font-family: var(--head_font);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    display: flex;
    flex-direction: column;
}

.nav-link::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 0.1rem;
    width: 0;
    background-color: var(--pri_color);
    transition: all 0.35s ease;
}

.nav-link::after {
    bottom: 0;
    position: absolute;
    right: 0;
    content: "";
    height: 0.1rem;
    width: 0;
    background-color: var(--pri_color);
    transition: all 0.35s ease;
}

.nav-link:hover::before, .nav-link:hover::after {
    width: 100%;
    transition: all 0.35s ease;
}

.nav-link-active {
    padding: 0.5rem;
    color: var(--nav_color);
    font-family: var(--head_font);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--pri_color);
    border-radius: 0.5rem;
}

@media screen and (max-width:1200px) {
    *, *::before, *::after {
        font-size: 15px;
    }
    .nav-div {
        position: absolute;
        flex-direction: column;
        justify-content: start;
        top: 5rem;
        right: -50rem;
        height: 100vh;
        width: 50vw;
        background: var(--nav_color);
        transition: all 0.6s ease-out;
    }
    .nav-div-active {
        right: 0;
        transition: all 0.6s ease;
    }
    .small-nav {
        border: 2px solid var(--pri_color);
        cursor: pointer;
        margin-right: 2rem;
        padding: 0.5rem;
        transition: border 0.6s ease;
    }
    .nav-line {
        width: 2.5rem;
        height: 3px;
        margin: 5px;
        background: var(--pri_color);
        border-radius: 2px;
        transition: all 0.6s ease;
    }
    .small-nav-active {
        border: none;
        transition: border 0.6s ease;
    }
    .small-nav-active .nav-line:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        transition: all 0.6s ease;
    }
    .small-nav-active .nav-line:nth-child(2) {
        opacity: 0;
        transition: all 0.6s ease;
    }
    .small-nav-active .nav-line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
        transition: all 0.6s ease;
    }
}

@media screen and (max-width:700px) {
    *, *::before, *::after {
        font-size: 14px;
    }
    .nav-div {
        width: 70vw;
    }
}

@media screen and (max-width:450px) {
    *, *::before, *::after {
        font-size: 13px;
    }
    .nav-logo a {
        font-size: 1.8rem;
    }
}

/* Navbar End */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem 2rem 3rem 2rem;
    min-height: 100vh;
}

.heading {
    font-size: 5rem;
    font-family: var(--head_font);
    font-weight: 500;
    color: var(--pri_color);
    text-align: center;
    margin-bottom: 1.5rem;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    height: 10rem;
    margin: 1rem;
    box-shadow: 3px 3px 3px rgb(158, 158, 158);
    transition: all 0.5s ease;
    cursor: pointer;
}

.gallery img:hover {
    transform: scale(1.075);
    transition: all 0.5s ease;
}

.big-img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: fixed;
    top: 15vh;
    align-self: center;
    height: 80vh;
    background: #fff;
    border-radius: 0.3rem;
    box-shadow: 2px 2px 6px 4px grey;
    border: 1px solid var(--nav_color);
    padding: 0.2rem;
    transition: all 1.5s ease;
}

.big-img-div-none {
    display: none;
}

.big-img-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 1rem;
}

.img-big {
    height: 100%;
}

.img-big img {
    height: 100%;
    margin: 1rem;
}

.i-btn::before {
    font-size: 2rem;
    color: var(--pri_color);
    cursor: pointer;
    transition: all 0.5s ease;
}

.cancel {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.i-div:hover .i-btn::before {
    font-size: 3rem;
    color: var(--nav_color);
    transition: all 0, 5s ease;
}

.counter {
    margin: 0.5rem;
    font-size: 1rem;
    font-family: var(--dsec_font);
    color: var(--pri_color);
}

@media screen and (max-width:900px) {
    .big-img-div {
        display: none;
    }
}

@media screen and (max-width:570px) {
    .heading {
        font-size: 4rem;
    }
}

@media screen and (max-width:430px) {
    .heading {
        font-size: 3rem;
    }
}

/* Footer Start */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--nav_color);
    padding: 1.5rem 0;
    position: relative;
}

.made-text {
    font-size: 1rem;
    color: #fff;
    font-family: var(--head_font);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3rem;
}

.f-ico-div {
    margin: 0.5rem;
}

.f-ico-div a {
    color: #fff;
    transition: 0.3s ease;
}

.f-ico-div a:hover {
    color: var(--pri_color);
    transition: 0.3s ease;
}

.f-ico::before {
    font-size: 1.5rem;
}

@media screen and (max-width:600px) {
    .made-text {
        position: absolute;
        left: 2rem;
    }
    .f-ico::before {
        font-size: 1rem;
    }
}

@media screen and (max-width:400px) {
    footer {
        flex-direction: column;
        height: 8rem;
    }
    .social {
        right: 0;
        left: 0;
        bottom: 1rem;
    }
    .made-text {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center;
    }
}

/* Footer End */